fastapi
uvicorn
beanie
motor
pydantic
pydantic-settings
python-dotenv
email-validator
passlib[bcrypt]
bcrypt==3.2.2
qrcode[pil]
joblib
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
notebook
ipykernel
